#slydes-content {
	-moz-transition: width 1s ease-in-out;
	width: 100%;
	float: left;
}

#slydes-sidebar {
	-moz-transition: width 1s ease-in-out;
	float: right;
	width: 0%;
	height: 100%;
	overflow: hidden;
}

#slydes-content.slydes-sidebar-show {
	width: 65%
}

#slydes-sidebar.slydes-sidebar-show {
	width: 35%
}

#slydes-preview {
	width: 100%;
	height: 100%;
	-moz-transform: scale(0.5, 0.5) translate(-50%, -50%);
    -webkit-transform: scale(0.5, 0.5) translate(-50%, -50%);
    -o-transform: scale(0.5, 0.5) translate(-50%, -50%);
    transform: scale(0.5, 0.5) translate(-50%, -50%);
    border: solid #ccc 10px;
}
