#slydes-content {
	-moz-transition: width 1s ease-in-out;
	-webkit-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	width: 100%;
	height: 100%;
	float: left;
	margin: 0 auto;
}

#slydes-sidebar {
	-moz-transition: width 1s ease-in-out;
	-webkit-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	float: right;
	width: 0%;
	overflow: hidden;
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
}

#slydes-content.slydes-sidebar-show {
	width: 65%
}

#slydes-sidebar.slydes-sidebar-show {
	width: 35%
}

#slydes-preview {
	overflow: hidden;
	
	border: 4px solid #000;
	-moz-box-shadow:0 0 24px #333;
	-webkit-box-shadow:0 0 20px #333;
	box-shadow:0 0 20px #333;	
		
	/* fix wierd bug in chrome (12). it scales correctly, but clips the content in the amount of scale. */
	-webkit-transform-style:preserve-3d; 

}

.slydes-notes {
	margin: 5%;
}

